@inherits ViewModelComponent<IndexViewModel>
@using N31.BlazorServerMVVM.Base;
@using N31.BlazorServerMVVM.Components
@using N31.BlazorServerMVVM.ViewModels;

@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<h2>@ViewModel.Count</h2>

<div>
    <Button Command="@ViewModel.CountCommand">Click!</Button>
    @*<button disabled="@ViewModel.CountCommand.IsRunning" @onclick="() => ViewModel.CountCommand.ExecuteAsync(null)">Click!</button>*@
</div>

<div>
    <Button Command="@ViewModel.CountCancelCommand">Cancel</Button>
    @*<button disabled="@(!ViewModel.CountCommand.CanBeCanceled)" @onclick="@ViewModel.CountCommand.Cancel">Cancel</button>*@
</div>

<div>
    <button @onclick="() => StateHasChanged()">refresh</button>
</div>

<div>
    <input disabled="@ViewModel.CountCommand.IsRunning" @bind="@ViewModel.InputCount" @bind:event="oninput" />
    <input disabled="@ViewModel.CountCommand.IsRunning" @bind="@ViewModel.InputCount" @bind:event="oninput" />
</div>

<SurveyPrompt Title="How is Blazor working for you?" />

